#projects {
  height: 100vh;
}

#projects > h5 {
  padding-top: 3rem;
}

#projects > h2 {
  margin-bottom: 5rem;
}

.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.project__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project__item:hover {
  border-color: var(--color-primary-variant);
  background: rgba(0, 0, 0, 0.2);
  color: var(--color-black);
}

.project__item > p {
  font-size: 14px;
  margin: -20px 0 10px;
  /* border: 1px solid var(--color-white); */
  border-radius: 10px;
  padding: 10px 4px;
}

.project__item > h3 {
  text-align: center;
}

.project__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.project__item h3 {
  margin: 1.2rem 0 2rem;
}

.project__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .project__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  #projects {
    height: 120vh;
  }
}

@media screen and (max-width: 600px) {
  .project__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #projects {
    height: 180vh;
  }
}